.page-header{
    color: #fff;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  }

  .nav .nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 0.25rem solid transparent;
  }
  
  .nav .nav-link:hover,
  .nav .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, 0.25);
  }
  